/*Global.css*/

:root {
  --color-arena: #d1a370;
  --color-especia: #9a4d32;
  --color-fremen: #3a5f7a;
  --color-texto: #000000;
  --color-arenaoscuro: #7f4c3a;
  --color-especiaoscuro: #5a2d24;
  --color-sombra: rgba(10, 10, 10, 0.1);
  /* Tamaños */
  --header-height: 120px;
  --footer-height: 60px;
  /* Breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mejora de scroll en móviles */
html {
  -webkit-overflow-scrolling: touch;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--color-arena);
  color: var(--color-texto);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  padding-bottom: var(--footer-height);
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-spiceoscuro);
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Botones/interactivos (mobile-friendly) */
button,
.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--color-arenaoscuro);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Efectos táctiles */
button:active,
.btn:active {
  opacity: 0.8;
}

/* Media Queries (Escalado progresivo) */

/* Tablet (≥768px) */
@media screen and (min-width: var(--breakpoint-tablet)) {
  body {
    max-width: 90%; /* Aumentamos el ancho máximo */
    padding: 1.5rem; /* Más espacio interno */
  }

  .container {
    width: 100%; /* El contenedor ocupa todo el ancho disponible */
    max-width: none; /* Eliminamos la restricción máxima */
    padding: 0.5rem;
  }

  h1 {
    font-size: 2.2rem;
  }
}

/* Desktop (≥1024px) */
@media screen and (min-width: var(--breakpoint-desktop)) {
  body {
    max-width: 1200px; /* Ancho mucho mayor para desktop */
    padding: 2rem; /* Más espacio interno */
  }

  .container {
    width: 100%;
    max-width: none; /* Permitimos que el contenedor se expanda */
  }
}
